//Fichier avec toutes les variables sauf déclarations mixin.

$color_start: rgb(255, 0, 0);
$color_middle: rgb(255, 255, 86);
$color_end: rgb(0, 255, 0);
$color_text: aliceblue; 
$div_width: 200px;
$div_width_middle: 600px;
$div_width_to: 1000px;
$div_height: 60px;