//Fichier avec toutes les variables sauf déclarations mixin.

$color_aqua: aqua;
$color_alice: aliceblue;
$color_black: black;
$div_width: 200px;
$div_height: 50px;
$div_width_to: 400px;
$div_height_to: 100px;