$darker: #495867;
$dark: #577399;
$bleu: #bdd5ea;
$light: #f7f7ff;
$rouge: #fe5f55;

@font-face {
  font-family: Stars;
  src: url("Stars.ttf") format("truetype");
}

@font-face {
  font-family: AutoShel;
  src: url("Authentic_Sheldon.ttf") format("truetype");
}

@font-face {
  font-family: Afterglow;
  src: url("Afterglow_Regular.ttf") format("truetype");
}
