//Fichier avec toutes les variables sauf déclarations mixin.

$color_aqua: aqua;
$color_alice: aliceblue;
$color_black: black;
$button_width: 200px;
$button_height: 50px;
$button_width_click: 400px;
$button_height_click: 100px;